<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>fr.epitech.controller.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAccount</servlet-name>
    <servlet-class>fr.epitech.controller.UserAccount </servlet-class>
	<multipart-config>
		<location>/images/</location>
		<max-file-size>2097152</max-file-size> <!-- 2 Mo -->
		<max-request-size>10485760</max-request-size> <!-- 5 x 2Mo -->
		<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
	</multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccount</servlet-name>
    <url-pattern>/UserAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Products</servlet-name>
    <servlet-class>fr.epitech.controller.Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeProductStock</servlet-name>
    <servlet-class>fr.epitech.controller.ChangeProductStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeProductStock</servlet-name>
    <url-pattern>/ChangeProductStock</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ProductView</servlet-name>
    <servlet-class>fr.epitech.controller.ProductView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductView</servlet-name>
    <url-pattern>/ProductView</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>Connection</servlet-name>
    <servlet-class>fr.epitech.controller.Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/Connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Disconnection</servlet-name>
    <servlet-class>fr.epitech.controller.Disconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disconnection</servlet-name>
    <url-pattern>/Disconnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>fr.epitech.controller.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>fr.epitech.controller.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>fr.epitech.controller.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteComment</servlet-name>
    <servlet-class>fr.epitech.controller.DeleteComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComment</servlet-name>
    <url-pattern>/DeleteComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>fr.epitech.controller.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Acceuil</servlet-name>
    <servlet-class>fr.epitech.controller.Acceuil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acceuil</servlet-name>
    <url-pattern>/Acceuil</url-pattern>
	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>/css/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>/images/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>/fonts/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>/js/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNews</servlet-name>
    <servlet-class>fr.epitech.controller.AddNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNews</servlet-name>
    <url-pattern>/AddNews</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DeleteNews</servlet-name>
    <servlet-class>fr.epitech.controller.DeleteNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNews</servlet-name>
    <url-pattern>/DeleteNews</url-pattern>
  </servlet-mapping>
<listener>
    <listener-class>fr.epitech.modele.InitializationDaoFactory</listener-class>
</listener>
</web-app>